.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
    background-color: #519D9E !important;
    border-radius: 8px !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:hover{
    background-color: #E0EAF1 !important;
}
  

.css-yw020d-MuiAccordionSummary-expandIconWrapper{
    display: none !important;
}

.css-bz4dnt-MuiCollapse-roo{
    display: none;
}

