.dropcontent{
    overflow: hidden;
  transform-origin: top;
  height: 0;
  opacity: 0;
  transition: height 0.5s ease-in-out;
}


.dropcontent.open {
    height: auto;
    opacity: 1;
    transition: height 0.5s ease-in-out;
  }

  @keyframes slideIn {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
  
  .dropcontent.open {
    animation: slideIn 0.5s ease-in-out;
  }

  .sajad{
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in;
  }

  .sajad.active{
    visibility: visible;
    opacity: 1;
    transition: all 1s ease-in;
  }